*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 17px;
    padding: 8px 16px;
    border-radius: 10px;
}

.section-gap {
    margin-top:  40px;
    margin-bottom: 40px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

button:hover {
    background-color: #1c16db;
}

.bg-primary {
    background-color: #4e47ff;
}

.bg-secondary {
    background-color: #f5f8ff;
}

.bg-info {
    background-color: #e5e7ff;
}

.bg-white {
    background-color: #ffffff;
}

.text-primary {
    color: #4e47ff;
}

.text-white {
    color: #ffffff;
}

.text-center {
    text-align: center;
    margin: 0 auto;
}

.text-secondary {
    color: #252432;
    opacity: 0.7;
}

.text-hero {
    color: #252432;
    font-size: 64px;
    font-weight: 800;
    line-height: 1.2;
}

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.font-raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
}

.logo {
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 800;
    font-style: bold;
}

.header-background {
    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
    background-position: center;
    height: 700px;
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}

.banner {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 70%;
    margin: 0 auto;
}

.banner-content {
    display: block;
}

.banner-content p {
    margin-bottom: 45px;
}

.action-section {
    padding: 70px 0 70px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.action-title{
    font-size: 24px;
    font-weight: bold;
    color: #252432;
    padding-bottom: 15px;

}

.action-content {
    font-size: 16px;
    font-weight: 500;
    color: #252432;
    opacity: 0.5;
    padding-bottom: 15px;
    line-height: 1.5;
}

.action-section img {
    height: 300px;
    border-radius: 50px;
}

.user-stats {
    padding: 20px 0;
    border-radius: 50px;
}

.user-stat-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.user-stat-title{
    font-size: 32px;
    font-weight: bold;
    color: #252432;
    padding: 30px 0 35px 0;
    text-align: center;
}

.user-stat-item {
    text-align: center;
    padding: 20px;
    margin: 0 10px;
}

.user-stat-content-title {
    font-size: 64px;
    font-weight: 800;
    text-align: center;
}
.user-stat-content-description {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    opacity: 0.5;
}

.user-review-section {
    padding: 20px;
}

.user-review-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.user-review-card {
    width: 30%;
    background-color: #f5f8ff;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.user-review-title {
    font-size: 24px;
    font-weight: bold;
    color: #252432;
    padding: 25px 0 25px 0;
    text-align: center;
}

.user-review-rating {
    padding: 15px 0;
}

.user-review-card-title {
    font-size: 16px;
    font-weight: bold;
    color: #252432;
    padding-bottom: 10px;
}

.user-review-card-text {
    font-size: small;
    padding-bottom: 15px;
}

.author {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.author-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.author-name {
    font-size: 16px;
    font-weight: bold;
    color: #252432;
}

.review-date {
    font-size: small;
    color: #000000;
    opacity: 0.5;
}

.focus-section {
    text-align: center;
    border-radius: 30px;
    padding-top: 30px;
    /* border: 10px solid tomato;  */
}

.focus-title {
    font-size: 24px;
    font-weight: bold;
    color: #252432;
    padding: 20px 0 20px 0;
}

.focus-text {
    padding-bottom: 15px;
    font-size: 16px;
    opacity: 0.6;
}

.focus-image {
    width: 70%;
    height: auto;
    margin: 0 auto;
    border-radius: 30px;
    margin: 25px 0;
}

.contact-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 150px;
    padding-left: 90px;
    padding-right: 70px;
}

.contact-title {
    font-size: 80px;
    font-weight: bold;
    color: #252432;
    padding: 20px 0 20px 0;
}

.contact-form-container{
    width: 40%;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}

.form-group label {
    font-size: 16px;
    color: #252432;
    margin-bottom: 5px;
    margin-top: 5px;
}

.form-control {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    margin: 5px 0;
    width: 100%;
}


.footer-container {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 70px 0 20px 0;
}

.footer-logo {
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 800;
    font-style: bold;
    margin-bottom: 20px;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

.footer-links a {
    text-decoration: none;
    font-size: 16px;
}

.action-content {
    text-align: center;
    padding: 0px 0;
    margin-bottom: 0;
}